body{
    background-color: bisque;
}

img{
    width: ; /*largura*/
    height: ; /*altura*/
}

h1{
    text-align: center ;
    color:blue ;
}

h2{
    color: black;
}

p{
color: black;
}